<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SoWeb</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>me.softvoid.server.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/LoginFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>TaskServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>UpTaskServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>DownTaskServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>TaskConfirmServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>AmountServlet</servlet-name>
  </filter-mapping>
  <session-config>
    <session-timeout>720</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>AmountServlet</servlet-name>
    <servlet-class>me.softvoid.server.query.amount.servlet.AmountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmountServlet</servlet-name>
    <url-pattern>/amount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DrugServlet</display-name>
    <servlet-name>DrugServlet</servlet-name>
    <servlet-class>me.softvoid.server.drug.servlet.DrugServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DrugServlet</servlet-name>
    <url-pattern>/drug</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScanCodeServlet</servlet-name>
    <servlet-class>me.softvoid.server.scan.servlet.ScanCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScanCodeServlet</servlet-name>
    <url-pattern>/scanCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskConfirmServlet</display-name>
    <servlet-name>TaskConfirmServlet</servlet-name>
    <servlet-class>me.softvoid.server.task.servlet.TaskConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskConfirmServlet</servlet-name>
    <url-pattern>/taskConfirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpTaskServlet</servlet-name>
    <servlet-class>me.softvoid.server.task.up.servlet.UpTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpTaskServlet</servlet-name>
    <url-pattern>/upTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownTaskServlet</servlet-name>
    <servlet-class>me.softvoid.server.task.down.servlet.DownTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownTaskServlet</servlet-name>
    <url-pattern>/downTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TaskServlet</servlet-name>
    <servlet-class>me.softvoid.server.task.servlet.TaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskServlet</servlet-name>
    <url-pattern>/taskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>me.softvoid.server.user.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>me.softvoid.server.user.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyselfServlet</display-name>
    <servlet-name>MyselfServlet</servlet-name>
    <servlet-class>me.softvoid.server.user.servlet.MyselfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyselfServlet</servlet-name>
    <url-pattern>/myself</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>cn.itcast.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>RankingListServlet</display-name>
    <servlet-name>RankingListServlet</servlet-name>
    <servlet-class>me.softvoid.server.query.ranking.servlet.RankingListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RankingListServlet</servlet-name>
    <url-pattern>/rankingList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportForm</display-name>
    <servlet-name>ReportForm</servlet-name>
    <servlet-class>me.softvoid.server.query.form.ReportForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportForm</servlet-name>
    <url-pattern>/ReportForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>HwspkpjlServlet</display-name>
    <servlet-name>HwspkpjlServlet</servlet-name>
    <servlet-class>me.softvoid.server.query.hwspkpjl.servlet.HwspkpjlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HwspkpjlServlet</servlet-name>
    <url-pattern>/hwspkpjlServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BatchServlet</display-name>
    <servlet-name>BatchServlet</servlet-name>
    <servlet-class>me.softvoid.server.query.batch.servlet.BatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BatchServlet</servlet-name>
    <url-pattern>/batchServlet</url-pattern>
  </servlet-mapping>
</web-app>